/*
** Module - Grid
** -----------------------------------------------------------------------------*/

.container {
  margin-left: auto;
  margin-right: auto;

  @each $breakpoint, $opts in $breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-container($breakpoint, $opts);
      @include grid-container-adaptive($breakpoint, $opts);
    }
  }

  // position: relative;
  // overflow: hidden;
  //
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   height: 100%;
  //   z-index: -1;
  //   margin: 0 auto;
  //   opacity: 0.4;
  //   pointer-events: none;
  //
  //   @each $breakpoint, $opts in $breakpoints {
  //     @include breakpoint($breakpoint) {
  //       $gutter: map-get($opts, 'gutter');
  //       $columns: map-get($opts, 'columns');
  //
  //       right: $gutter;
  //       left: $gutter;
  //       background-image: linear-gradient(to left, #{grid-gradient-stops($columns, $gutter)});
  //     }
  //   }
  // }
}

.row {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint, $opts in $breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-row($breakpoint, $opts);
      @include grid-row-alignment($breakpoint, $opts);
    }
  }
}

.column {
  @each $breakpoint, $opts in $breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-column($breakpoint, $opts);
    }
  }

  @each $breakpoint, $opts in $breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-column-width($breakpoint, $opts);
      @include grid-column-offset($breakpoint, $opts);
      @include grid-column-alignment($breakpoint, $opts);
      @include grid-column-order($breakpoint, $opts);
    }
  }
}
