/*
** Module - Visual grid
** -----------------------------------------------------------------------------*/

.container {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    margin: 0 auto;
    opacity: 0.4;
    pointer-events: none;

    @each $breakpoint, $opts in $breakpoints {
      @include breakpoint($breakpoint) {
        $gutter: map-get($opts, 'gutter');
        $columns: map-get($opts, 'columns');
        $gradient-stops: grid-gradient-stops($columns, $gutter);

        right: ($gutter / 2);
        left: ($gutter / 2);
        background-image: linear-gradient(to left, #{$gradient-stops});
      }
    }
  }
}
