//
// Variables - Utils
// -----------------------------------------------------------------------------

/// Base path for assets
///
/// @type String

$base-path: '..' !default;


/// Sets grid containers and responsive mixins
///
/// @type List

$grid-breakpoints: () !default;


/// Sets the responsive classes display values
///
/// @type List

$display-values: () !default;


/// Sets the spacer values
///
/// @type List

$spacers: () !default;
