//
// Variables - Utils
// -----------------------------------------------------------------------------

/// Base path for assets
///
/// @type String

$base-path: '..' !default;


/// Sets the responsive classes display values
///
/// @type List

$display-values: (
  block,
  flex,
  inline,
  inline-block,
  inline-flex
) !default;


/// Sets the spacer values
///
/// @type List

$spacers: (
  0: 0,
  1: 1em,
  2: 2em,
  3: 3em,
  4: 4em
) !default;
