//
// Mixins - Colors
// -----------------------------------------------------------------------------

/*
** Mix color with black
**
** @param {Color} $color - Color hex value
** @return {Percent} $weight - The relative weight of black color
** @require {Function} mix
**/
@function blacken($color, $weight) {
  @return mix($color-black, $color, $weight);
}

/*
** Mix color with white
**
** @param {Color} $color - Color hex value
** @return {Percent} $weight - The relative weight of white color
** @require {Function} mix
**/
@function whiten($color, $weight) {
  @return mix($color-white, $color, $weight);
}
