//
// Mixins - Container
// -----------------------------------------------------------------------------

//
// Generate grid container with fluid width
//
// @param {String} $breakpoint - Breakpoint name
// @param {Map} $opts - Map containing breakpoint options
//
@mixin grid-container($breakpoint, $opts) {
  $gutter: map-get($opts, 'gutter');

  padding-left: $gutter;
  padding-right: $gutter;
}

//
// Generate grid container modifier with adaptive width
//
// @param {String} $breakpoint - Breakpoint name
// @param {Map} $opts - Map containing breakpoint options
//
@mixin grid-container-adaptive($breakpoint, $opts) {
  $container: map-get($opts, 'container');
  $gutter: map-get($opts, 'gutter');

  max-width: $container + ($gutter * 2);
}
