//
// Mixins - General
// -----------------------------------------------------------------------------

/// Manages responsive breakpoints
///
/// @param {String}     $label - Breakpoint label
/// @require {Variable} $grid-breakpoints

@mixin breakpoint($label) {
  @if ($grid-breakpoints) {
    $breakpoint: map-get($grid-breakpoints, $label);

    @if $breakpoint {
      @media (min-width: map-get($breakpoint, 'min-width')) {
        @content;
      }
    }

    @else {
      @warn 'Unfortunately, no value could be retrieved from `#{$label}`.'
        + 'Available breakpoints are: #{map-keys($grid-breakpoints)}.';
    }
  }

  @else {
    @warn 'Unfortunately, no breakpoints are defined.';
  }
}


/// Join property selectors together
///
/// @param {String}     $prefix - Selector prefix
/// @require {List}     $values - list of values to join

@function join-values($prefix, $values) {
  $output: '';

  @each $value in $values {
    $output: '#{if($output != '', '#{$output}, ', $output)}#{$prefix}-#{$value}';
  }

  @return $output;
}
