//
// Mixins - Row
// -----------------------------------------------------------------------------

/// Generate grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row($breakpoint, $opts) {
  $gutter: map-get($opts, 'gutter');

  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
}

/// Generate semantic alignment classes for grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row-alignment($breakpoint, $opts) {
  &_#{$breakpoint}-start  { justify-content: flex-start; }
  &_#{$breakpoint}-center { justify-content: center; }
  &_#{$breakpoint}-end    { justify-content: flex-end; }
}

/// Generate semantic vertical alignment classes for grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row-valignment($breakpoint, $opts) {
  &_#{$breakpoint}-top    { align-items: flex-start; }
  &_#{$breakpoint}-middle { align-items: center; }
  &_#{$breakpoint}-bottom { align-items: flex-end; }
}
