/*
** Common - Base
** -----------------------------------------------------------------------------*/

// Font definitions
$font-color:            #ffffff !default;
$font-family:           'Helvetica Neue', 'Arial', Helvetica, sans-serif !default !default;
$font-size:             1.6em !default;
$font-line-height:      1.2 !default;

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $font-line-height;
  color: $font-color;
}

a,
button {
  transition-duration: 0.25s;
  transition-property: color, background-color, border, opacity;
}
