/*
** Common - Layout
** -----------------------------------------------------------------------------*/

$separator: 30px;
$colors: #a6e7cf, #dceebf, #ffd3b4, #ffaaa3, #ff8a92, #b9e1ff, #b6d3ff, #ffe097, #dbeac5;

.section {
  margin-top: $separator;
  margin-bottom: $separator;
  overflow: hidden;

  .column {
    padding-top: ($separator / 2);
    padding-bottom: ($separator / 2);
    margin-top: ($separator / 2);
    margin-bottom: ($separator / 2);
    font-weight: bold;
    color: rgba(#ffffff, 0.75);
    text-align: center;

    .column {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@each $color in $colors {
  $i: index($colors, $color);

  .section:nth-of-type(#{$i}) {
    background: $color;

    .column {
      background: darken($color, 10%);

      .column {
        background: rgba(#000000, 0.1);
      }
    }
  }
}
