/*
** Setup - Normalize
** -----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}

:root {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a, button, [type="button"] {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.4em;
}
