//
// Mixins - Utils / Avatar
// -----------------------------------------------------------------------------

@mixin u-avatar($size, $rounded: true) {
  display: block;
  height: $size * 0.75;
  width: $size * 0.75;

  @if ($rounded) {
    border-radius: 50%;
  }

  @include breakpoint(md) {
    height: $size;
    width: $size;
  }
}
