//
// Mixins - Utils / Dropdown
// -----------------------------------------------------------------------------

@mixin u-dropdown($duration: 0.25) {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, 20px, 0);
  transition: opacity $duration, transform $duration;

  :hover > & {
    opacity: 1;
    pointer-events: all;
    transform: translate3d(-50%, 0, 0);
  }
}

@mixin u-dropdown-trigger($caret-size: 0.5rem) {
  position: relative;

  > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;

    &::after {
      content: '';
      display: inline-block;
      margin-left: $caret-size * 2;
      width: 0;
      height: 0;
      border-left: $caret-size solid transparent;
      border-right: $caret-size solid transparent;
      border-top: $caret-size solid currentColor;
      opacity: 0.75;
      vertical-align: middle;
    }
  }
}
