//
// Mixins - Utils / Hamburger
// -----------------------------------------------------------------------------

@mixin u-hamburger($width, $height, $weight, $color: currentColor, $duration: 0.25s, $active-class: 'has-nav-open', $radius: 0px) {
  display: block;
  position: relative;
  width: $width;
  height: $height;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  > * {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    display: block;
    height: $weight;
    background-color: $color;
    border-radius: $radius;
    transform: translate3d(-50%, -50%, 0);

    @if ($active-class) {
      // Transition instantly
      transition: background-color $duration;

      .#{$active-class} & {
        background-color: transparent;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: $radius;

      @if ($active-class) {
        transition: top $duration $duration,
          bottom $duration $duration,
          transform $duration 0s,
          background-color $duration 0s;

        .#{$active-class} & {
          // Revert the delays
          transition: top $duration 0s,
            bottom $duration 0s,
            transform $duration $duration,
            background-color $duration $duration;
        }
      }
    }

    &::before {
      top: -($height / 4);

      @if ($active-class) {
        .#{$active-class} & {
          top: 0;
          transform: rotate(45deg);
        }
      }
    }

    &::after {
      bottom: -($height / 4);

      @if ($active-class) {
        .#{$active-class} & {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
