//
// Mixins - Utils / Object fit
// -----------------------------------------------------------------------------

@mixin u-object-fit($ratio: 56.25%, $offset: 0px, $fit: 'cover') {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-bottom: $ratio;
  }

  > img,
  > svg,
  > video,
  > iframe {
    @include u-overlay($offset);
    height: calc(100% - #{$offset * 2});
    width: calc(100% - #{$offset * 2});
    object-fit: unquote($fit);
  }
}
