//
// Mixins - Utils / Overlay
// -----------------------------------------------------------------------------

@mixin u-overlay($offset: 0, $position: 'absolute') {
  position: unquote($position);
  top: $offset;
  bottom: $offset;
  left: $offset;
  right: $offset;
}

@mixin u-overlay-center($position: 'absolute') {
  position: unquote($position);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
