//
// Module - Grid
// -----------------------------------------------------------------------------

@import '../mixins/grid/container';
@import '../mixins/grid/row';
@import '../mixins/grid/column';

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @each $breakpoint, $opts in $grid-breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-container($breakpoint, $opts);
      @include grid-container-adaptive($breakpoint, $opts);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint, $opts in $grid-breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-row($breakpoint, $opts);
      @include grid-row-alignment($breakpoint, $opts);
      @include grid-row-valignment($breakpoint, $opts);
      @include grid-row-order($breakpoint, $opts);
    }
  }
}

.column {
  @each $breakpoint, $opts in $grid-breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-column($breakpoint, $opts);
    }
  }

  @each $breakpoint, $opts in $grid-breakpoints {
    @include breakpoint($breakpoint) {
      @include grid-column-width($breakpoint, $opts);
      @include grid-column-offset($breakpoint, $opts);
      @include grid-column-alignment($breakpoint, $opts);
      @include grid-column-order($breakpoint, $opts);
    }
  }
}
