//
// Module - Grid
// -----------------------------------------------------------------------------

@import '../mixins/grid/container';
@import '../mixins/grid/row';
@import '../mixins/grid/column';

@if ($grid-breakpoints) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    @each $breakpoint, $opts in $grid-breakpoints {
      @include breakpoint($breakpoint) {
        @if (map-get($opts, 'container')) {
          $container: map-get($opts, 'container');
          $container-gutter: map-get($opts, 'container-gutter');

          @if (length($container) > 1) {
            @each $size, $value in $container {
              &--#{$size} {
                @include grid-container($container-gutter);
                @include grid-container-adaptive($value, $container-gutter);
              }
            }
          }

          @else {
            @include grid-container($container-gutter);
            @include grid-container-adaptive($container, $container-gutter);
          }
        }
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    @each $breakpoint, $opts in $grid-breakpoints {
      @include breakpoint($breakpoint) {
        @if (map-get($opts, 'columns')) {
          @include grid-row($breakpoint, $opts);

          @if ($display-grid-row-alignment) {
            @include grid-row-alignment($breakpoint, $opts);
          }

          @if ($display-grid-row-valignment) {
            @include grid-row-valignment($breakpoint, $opts);
          }

          @if ($display-grid-row-order) {
            @include grid-row-order($breakpoint, $opts);
          }
        }
      }
    }
  }

  .column {
    @each $breakpoint, $opts in $grid-breakpoints {
      @include breakpoint($breakpoint) {
        @if (map-get($opts, 'columns')) {
          @include grid-column($breakpoint, $opts);
          @include grid-column-width($breakpoint, $opts);
          @include grid-column-offset($breakpoint, $opts);

          @if ($display-grid-column-alignment) {
            @include grid-column-alignment($breakpoint, $opts);
          }

          @if ($display-grid-column-order) {
            @include grid-column-order($breakpoint, $opts);
          }
        }
      }
    }
  }
}
