//
// Module - Responsive
// -----------------------------------------------------------------------------

@if length($display-values) > 1 and length($grid-breakpoints) > 1 {
  @each $breakpoint, $opts in $grid-breakpoints {
    #{join-values('.visible-#{$breakpoint}', $display-values)} {
      display: none !important;
    }

    @include breakpoint($breakpoint) {
      @each $value in $display-values {
        .visible-#{$breakpoint}-#{$value} {
          display: #{$value} !important;
        }
      }

      .hidden-#{$breakpoint} {
        display: none !important;
      }
    }
  }
}
