//
// Mixins - Grid / Container
// -----------------------------------------------------------------------------

/// Generate grid container with fluid width
///
/// @param {String} $gutter - Container gutter width
@mixin grid-container($gutter) {
  padding-left: $gutter;
  padding-right: $gutter;
}


/// Generate grid container modifier with adaptive width
///
/// @param {String} $container - Container width
/// @param {String} $gutter - Container gutter width

@mixin grid-container-adaptive($container, $gutter) {
  max-width: calc(#{$container} + #{($gutter * 2)});
}
