//
// Mixins - Grid / Row
// -----------------------------------------------------------------------------

/// Generate grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row($breakpoint, $opts) {
  $gutter: map-get($opts, 'gutter');

  margin-left: ($gutter / -2);
  margin-right: ($gutter / -2);
}


/// Generate semantic alignment classes for grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row-alignment($breakpoint, $opts) {
  &--#{$breakpoint}-start { justify-content: flex-start; }
  &--#{$breakpoint}-center { justify-content: center; }
  &--#{$breakpoint}-end { justify-content: flex-end; }
}


/// Generate semantic vertical alignment classes for grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row-valignment($breakpoint, $opts) {
  &--#{$breakpoint}-top { align-items: flex-start; }
  &--#{$breakpoint}-middle { align-items: center; }
  &--#{$breakpoint}-bottom { align-items: flex-end; }
}


/// Generate semantic element order classes for grid row
///
/// @param {String} $breakpoint - Breakpoint name
/// @param {Map}    $opts - Map containing breakpoint options

@mixin grid-row-order($breakpoint, $opts) {
  &--#{$breakpoint}-reverse { flex-direction: row-reverse; }
}
